<footer>
    <div class="footerMain">

        <div class="footerBrand">

            <div class="footerLogo">
                <img src="{{ROOT}}assets/images/PiggyBank_Icon.svg"
                    alt="RealSavings Tracker logo">

                <span>RealSavings Tracker</span>
            </div>

            <p>
                A simple way to plan, track, and reach your savings goals.
            </p>

        </div>


        <div class="footerLinks">

            <div class="footerColumn">

                <h3>RealSavings Tracker</h3>

                <a href="{{ROOT}}index.html">
                    Home
                </a>

                <a href="{{ROOT}}index.html#howItWorks">
                    How It Works
                </a>

                <a href="{{ROOT}}index.html#savingsCalculator">
                    Calculator
                </a>

                <a href="{{ROOT}}app.html">
                    Start Saving
                </a>

            </div>


            <div class="footerColumn">

                <h3>Guides</h3>

                <a href="{{ROOT}}guides/how-to-set-a-savings-goal.html">
                    Savings Goals
                </a>

                <a href="{{ROOT}}guides/how-to-save-for-a-vacation.html">
                    Vacation Savings
                </a>

                <a href="{{ROOT}}guides/how-to-build-an-emergency-fund.html">
                    Emergency Fund
                </a>

            </div>


            <div class="footerColumn">

                <h3>Legal</h3>

                <a href="{{ROOT}}privacy.html">
                    Privacy Policy
                </a>

                <a href="{{ROOT}}terms.html">
                    Terms of Use
                </a>

            </div>

        </div>

    </div>


    <div class="footerBottom">

        <span>
            © 2026 RealSavings Tracker. All rights reserved.
        </span>

    </div>
</footer>