<header>
    <a href="{{ROOT}}index.html" class="logo">
        <div class="logoIcon">
            <img src="{{ROOT}}assets/images/PiggyBank_Icon.svg"
                alt="RealSavings Tracker logo">
        </div>

        <span>RealSavings Tracker</span>
    </a>

    <nav>
        <a href="{{ROOT}}index.html#howItWorks">How It Works</a>
        <a href="{{ROOT}}index.html#savingsCalculator">Calculator</a>
        <a href="{{ROOT}}guides/index.html">Guides</a>
    </nav>

    <a href="{{ROOT}}app.html" class="startSavingButton">
        Start Saving
    </a>
</header>